<% include partials/_header %>
<div class="container">

  <div class="row">
    <!--FORM-->
    <!-- <div class="col-md-5">
      <div class="card">
        <div class="card-body">


          <form action="/cale" method="post">
            <button class="btn btn-primary" type="submit" name="mensa" value="RemedioNNHGHFFF1">
              Remedio1
            </button>
            <button class="btn btn-primary" type="submit"  name="mensa" value="remedio2">
              Remedio2
            </button>
            <button class="btn btn-primary" type="submit"  name="mensa" value="Remed3">
              Remedio3
            </button> 
          </form>




        </div>
      </div>
    </div> -->

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr style="font-size:3vw">
            <th>N°</th>
            <th>Remedio</th>
            <th>Fecha</th>
            <th>Accion</th>
            <th><%= estado1.estado %> : <%= dayString2 %></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < fechas.length; i++) { %>
            <tr >
              <td><%= i + 1%></td>
              <td style="font-size:5vw"><strong><%= fechas[i].nota %></strong></td>
              <td style="font-size:3vw"><%= fechas[i].fecha %></td>

              <td>

                <a style="font-size:5vw" href="/deleteRemedio/<%= fechas[i]._id %>/<%= fechas[i].nota %>"
                  class="btn btn-danger">
                  LISTO ! 
                </a>

              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

